body {
    font-family: Arial, sans-serif;
    background-color:lightsalmon;
  }

  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: aquamarine;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  h1 {
    text-align: center;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  input[type="number"] {
  width: 95%;
  padding: 16px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  }
  /* input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  } */

  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  button {
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: black;
    color: red;
  }

  #result {
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    font-weight: bold;
  }